Prepare data from

Slutskin, Ilya Vainberg, Adina Weinberger, and Eran Segal. "Sequence determinants of polyadenylation-mediated regulation." Genome research 29.10 (2019): 1635-1647.

# Make FASTA

make FASTA file out of sequences from supplementary table 9

In [1]:
import numpy as np
import pandas as pd
from textwrap import wrap

In [3]:
data_dir = '/s/project/mll/sergey/effect_prediction/MLM/slutskin_2019/'

In [3]:
supt9 = pd.read_csv(data_dir + 'supl/Supplemental_Table_9.tab', sep='\t', skiprows=1, dtype={'Fold':str})

In [4]:
output_fasta = data_dir + 'fasta.fa'

In [5]:
with open(output_fasta, 'w') as f:
    for seq_id, seq in supt9[['ID','Sequence']].values:
        f.write(f'>id_{seq_id}:Homo_sapiens\n')
        for line in wrap(seq, 80): #wrap sequence with standard FASTA width
            f.write(line+'\n')

#don't forget to index with samtools faidx!

In [5]:
supt2 = pd.read_csv(data_dir + 'supl/Supplemental_Table_2.tab', sep='\t', skiprows=1, dtype={'Fold':str})
supt4 = pd.read_csv(data_dir + 'supl/Supplemental_Table_4.tab', sep='\t', skiprows=1, dtype={'Fold':str})

In [29]:
supt4[supt4.Pos=='WT']

        ID                PAS Pos  Expression
0    31791  NC_001716:PASn_66  WT    4.813781
1    31792  NC_001664:PASn_45  WT    3.754068
2    31793   NC_009333:PASn_5  WT    1.870365
3    31795   NC_001669:PASn_2  WT    4.009644
4    31796  NC_001348:PASn_14  WT    4.505528
..     ...                ...  ..         ...
624  38000                HBB  WT    4.480502
625  38001              CPSF1  WT   -1.728220
626  38002              WDR18  WT   -5.841302
627  38003               MC4R  WT   -1.807355
628  38004               JUNB  WT    1.485427

[629 rows x 4 columns]

In [7]:
supt2

         ID      Source               Name  Expression
0     31791       Viral  NC_001716:PASn_66    4.813781
1     31792       Viral  NC_001664:PASn_45    3.754068
2     31793       Viral   NC_009333:PASn_5    1.870365
3     31794       Viral   NC_006432:PASn_4   -1.098966
4     31795       Viral   NC_001669:PASn_2    4.009644
...     ...         ...                ...         ...
6195  37986        K562            RID8814    3.252796
6196  37987        K562             RID986    0.303969
6197  43141  Literature               HIV1    3.195260
6198  43159  Literature               SPA1    2.946406
6199  43180  Literature                SVL    4.108524

[6200 rows x 4 columns]

In [26]:
5529+668

6197

In [27]:
len(supt9)/2

6079.5

In [28]:
len(supt4)

5661

In [30]:
supt9

,ID,Fold,Sequence,Expression,41,42,43,44,45,46,...,220,221,222,223,224,225,226,227,228,229
0,43106,0,ACTAGTAGCAATGGGGTTCGGTATGCGCCTTGCGTGCACATGCTTT...,3.077807,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,36277,0,ACTAGTAGCAATGGGGTTCGGTATGCGCTGAAGCGTAATGCCTCCC...,-8.169925,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,37214,0,ACTAGTAGCAATGGGGTTCGGTATGCGCCAAACGTGGCTTTGAGTA...,3.393342,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,32909,0,ACTAGTAGCAATGGGGTTCGGTATGCGCTGCCCGTAACTTTGGGGT...,-0.458664,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,31638,0,ACTAGTAGCAATGGGGTTCGGTATGCGCCATTTTCTGGGTAATAGA...,3.138605,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12154,32457,Test,ACTAGTAGCAATGGGGTTCGGTATGCGCACAGATCAGGCGTTTTTA...,7.670961,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12155,33649,Test,ACTAGTAGCAATGGGGTTCGGTATGCGCGAGCACGCGACTCAGGAC...,1.338585,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12156,33748,Test,ACTAGTAGCAATGGGGTTCGGTATGCGCATCGCCGATTGAGGGCAT...,2.658211,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12157,34171,Test,ACTAGTAGCAATGGGGTTCGGTATGCGCGATGGGGCGAATTCTCCA...,-4.489848,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12158,35165,Test,ACTAGTAGCAATGGGGTTCGGTATGCGCCGTAAGGAAAGAGGGCCG...,-2.676243,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0